{% extends "layout.html" %}
{% block content %}

<h5>TREND LINE</h5>

<h2>{{ tracker }} Logs</h2>
<div class="container my-5">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>On</th>
                <th>Value</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for log in logs%}
            <tr>
                <td>{{ log["timeStamp"] }}</td>
                <td>{{ log["value"] }}</td>
                <td>{{ log["note"] }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/editLog/{{log.timeStamp}},{{username}}">Edit</a>
                            <a class="dropdown-item" href="/deleteLog/{{log.timeStamp}},{{username}}">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{% endblock %}