{% extends "layout.html" %}
{% block content %}

<div class="container my-5">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Tracker</th>
                <th>Last tracked</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for tracker in trackers%}
            <tr>
                <td><a href="/log/{{tracker.id}},{{username}}">
                        {{tracker["name"]}}
                    </a>
                </td>
                <td>2022-03-27T09:03:22</td>
                <td><a href="/addLog/{{tracker.id}},{{username}}">+</a></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-outline-success btn-lg">Add</button>
{% endblock %}